.aboutme-container {
  background: url("../img/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.cards-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
}
.panel {
  background-position: center;
  background-repeat: no-repeat;
  height: 14vh;
  color: black;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: 0.7s ease-in;
  overflow: hidden;
}
.panel h3 {
  font-weight: 500;
}
.panel img {
  display: none;
}
.panel p {
  display: none;
}
.panel.active {
  height: 80vh;
  padding: 5px;
  border-radius: 5%;
  font-size: 14px;
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  padding: 15px;
}

.panel.active p,
img {
  display: block;
  font-weight: 300;
  padding: 30px;
}
.panel.active img {
  height: 100%;
  display: block;
}
.panel.active .p-scroll {
  overflow: scroll;
  padding: 5px;
  height: 80%;
}
.panel.active h3 {
  font-size: 17px;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.intro-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-bottom: 15px;
}
.aboutme-img-one {
  width: 50%;
}
.aboutme-img-two {
  max-height: 450px;
}
.intro-div p {
  align-self: center;
  text-align: left;
}
.introducion-div-two {
  display: flex;
}
.introducion-div-two {
  text-align: left;
}
.panel.active .hr-section-title-aboutme {
  width: 100%;
}
.hr-section-title-aboutme {
  margin-bottom: 50px;
}
.intro-about-me {
  font-size: 15px;
  width: 70%;
  margin-right: 20%;
  font-weight: 200;
}
.intro-about-me p {
  background-color: #fff;
  opacity: 0.8;
  width: fit-content;
}
.hello-span {
  font-size: 17px;
  color: #00bcd4;
  font-weight: 500;
}

@media (min-width: 420px) {
  .hr-section-title-aboutme {
    margin-bottom: 20px;
  }
  .panel.active {
    height: 80vh;
    padding: 5px;
    border-radius: 5%;
    font-size: 12px;
  }
  .panel.active.p-scroll {
    overflow-y: scroll;
    padding: 5px;
    height: 50%;
  }
}
@media (min-width: 1024px) {
  .aboutme-container {
    display: flex;
    flex-direction: column;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
  }
  .panel h3 {
    color: black;
    font-size: 10px;
    transition: flex 0.7s ease-in;
  }
  .panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
  }
  .panel.active {
    flex: 5;
    color: black;
    font-size: 15px;
  }
  .panel.active h3 {
    opacity: 1;
    font-size: 24px;
    transition: opacity 0.3s ease-in 0.4s;
  }
  .intro-about-me {
    margin-top: 15px;
    margin-right: 50%;
    height: 20vh;
    width: 45%;
    font-size: 15px;
  }
  .intro-div {
    flex-direction: row;
  }
  .hello-span {
    font-size: 19px;
    color: #00bcd4;
    font-weight: 500;
  }
}
