.experties-container {
  height: 100vh;
}
.skills-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 55px;
}
.html {
  color: red;
}
.css {
  color: #0860b2;
}
.js {
  color: gold;
}
.react {
  font-weight: bolder;
  color: #001427;
}
.db {
  color: #02284b;
}
.node {
  color: green;
}

.experties p {
  color: #001427;
}

.skill-title h2 {
  color: #001427;
  font-size: 25px;
}
.hr-section-title-skills {
  padding: 0;
  width: 40%;
  height: 2px;
  background-color: #00bcd4;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20%;
}
.skill-carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  height: 75%;
  width: 60%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.carousel-card-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.skill-carousel .skill-card {
  width: 60vw;
  height: 69vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
  text-align: center;
  gap: 20px;
  padding: 10%;
}
.skill-card p {
  width: inherit;
  height: inherit;
  padding: 5%;
  overflow-y: scroll;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  width: 100%;
}
.buttons-container .btn {
  background-color: #001427;
  color: #fff;
  border: none;
  padding: 5px;
  width: 49.5%;
}
.buttons-container .btn:hover {
  cursor: pointer;
  opacity: 0.9;
  background-color: #00bcd4;
}
.buttons-container .btn:focus {
  outline: none;
}

@media (min-width: 1024px) and (min-height: 560px) {
  .swiper {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .swiper-slide {
    background-color: #fff;
    color: #001427;
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 15px;
    width: 60vh;
    height: 60vh;
    border-radius: 0px;
    filter: blur(1px);
    font-size: 18px;
    border: 1px rgba(0, 0, 0, 0.3) solid;
  }
  .swiper-slide-active {
    filter: blur(0);
  }
  .swiper-slide p {
    padding: 10px;
    font-size: 14px;
  }
}
