.my-project-container {
  height: 100vh;
  width: 100%;
}
.projects-title {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 1% 1% 1% 2%;
  width: 100vw;
  color: #001427;
  font-weight: 200;
}
.projects-title h2 {
  font-weight: 400;
  color: #00bcd4;
}
.element-h2-span,
.element-p-span {
  opacity: 0.4;
}
.first-intro-paragraph {
  margin: 1% 50% 1% 1%;
}
.second-intro-paragraph {
  margin: 1% 0 1% 50%;
}
.third-intro-paragraph {
  font-weight: 500;
  color: #00bcd4;
}
.hr-title {
  width: 15%;
  height: 3px;
  border: #00bcd4;
  background-color: #00bcd4;
  border-radius: 5px;
  margin: auto;
}
hr {
  width: 60%;
  height: 3px;
  border: #00bcd4;
  background-color: #00bcd4;
  border-radius: 5px;
}
.my-projects {
  padding: 30px 0 30px 0;
  width: 100%;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow-y: scroll;
  gap: 15px;
}
.card {
  position: relative;
  width: 600px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00bcd4;
  clip-path: circle(120px at center);
  transition: 0.5s;
}
.card:hover .circle:before {
  background: #001427;
  clip-path: circle(400px at center);
  border-radius: 20px;
}
.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 180px;
  pointer-events: none;
  transition: 0.5s;
}
.card:hover img {
  /* top: 72%; */
  left: 75%;
  height: 400px;
  width: 250px;
}
.card .content {
  position: relative;
  width: 50%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.card .content h3 {
  color: #fff;
}
.card .content p {
  color: #fff;
  font-size: 13px;
}
.project-btn {
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #00bcd4;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}
.project-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #00bcd4, 0 0 40px #00bcd4, 0 0 80px #00bcd4;
}
@media (max-width: 991px) {
  .card {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .card:hover {
    height: 620px;
  }
  .card .content {
    width: 100%;
    left: 0;
    padding: 35px;
  }
  .card:hover img {
    top: 73%;
    left: 50%;
    height: 320px;
  }
  .hr-title {
    width: 40%;
    height: 3px;
    border: #00bcd4;
    background-color: #00bcd4;
    border-radius: 5px;
    margin: auto;
  }
  .projects-title p {
    display: none;
  }
}
@media (max-width: 347px) {
  .card:hover img {
    top: 75%;
    height: 300px;
  }
}
